Repository Ayala0717/portal-student: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint, stylelint, prettier --write

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx}": "eslint",
  "*.css": "stylelint",
  "*": "prettier --write"
}

chore(lint): rule changed
  .lintstagedrc
Due: prettier --write

chore(package):style lint config has been added
  .eslintrc.cjs
  .stylelintrc.json
  package.json
Due: prettier --write

chore(package): :art: add commitlint configuration
  .commitlintrc.ts
  .eslintignore
  .eslintrc.cjs
  .husky/commit-msg
  .prettierignore
  .prettierrc
  package.json
  src/App.tsx
  tsconfig.eslint.json
Due: eslint, prettier --write

chore(package): :rotating_light: config commit-msg
  .husky/commit-msg
Due: prettier --write

chore(package): add commitlint configuration
  .commitlintrc.ts
  .eslintrc.cjs
  .husky/commit-msg
  package.json
  src/App.tsx
  tsconfig.json
Due: eslint, prettier --write

feat(eslintrc): added new config new config to format code has been added in eslint rules
  .eslintrc.cjs
  src/App.tsx
Due: eslint, prettier --write

build: added config to deployment
  .gitignore
  package.json
Due: prettier --write

feat(translations): initial config has been added
  .vscode/settings.json
  package.json
  src/App.tsx
  src/constats.ts
  src/locales/en/index.yaml
  src/locales/es/index.yaml
  src/main.tsx
  src/modules/i18n.ts
  src/vite-env.d.ts
  tsconfig.json
  vite.config.ts
Due: eslint, prettier --write

feat(translations): declared module in vite env types
  src/types/index.ts
  src/vite-env.d.ts
Due: eslint, prettier --write

chore(styles): removed default styles
  src/App.css
  src/index.css
Due: stylelint, prettier --write

chore(styles): unocss and postcss configs has been added
  .eslintignore
  .stylelintrc.json
  .vscode/extensions.json
  .vscode/settings.json
  package.json
  postcss.config.js
  src/App.css
  src/App.tsx
  src/index.css
  src/main.tsx
  tsconfig.eslint.json
  tsconfig.node.json
  uno.config.ts
  vite.config.ts
Due: eslint, stylelint, prettier --write

chore(styles): shadcn config has been added
  .eslintignore
  .eslintrc.cjs
  components.json
  package.json
  preset.shadcn.ts
  src/App.css
  src/App.tsx
  src/components/ui/button.tsx
  src/components/ui/dialog.tsx
  src/components/ui/input.tsx
  src/components/ui/label.tsx
  src/index.css
  src/lib/utils.ts
  src/locales/en/index.yaml
  src/locales/es/index.yaml
  src/main.tsx
  tsconfig.eslint.json
  tsconfig.node.json
  uno.config.ts
Due: eslint, stylelint, prettier --write

fix(deploy): removed unnecesary src declaration in tsconfig
  tsconfig.node.json
Due: prettier --write

feat(translation): languange detector has been added package to detect browser language added in i18n config
  package.json
  src/App.tsx
  src/modules/i18n.ts
Due: eslint, prettier --write

chore(config): removed body leading blank rule that rule is used to subject and body does not have blank space
  .commitlintrc.ts
Due: eslint, prettier --write

feat(styles): transformer variant group has been added transformer example 'hover:(bg-gray-500 font-medium)' and work normaly
  src/App.tsx
  uno.config.ts
Due: eslint, prettier --write

chore(linter): unocss lint has been added plugin to add rules using unocss to best practices
  .eslintrc.cjs
  package.json
  src/App.tsx
Due: eslint, prettier --write

feat(animation): icon resolver and animation has been added loader added to enter in home screen
  src/App.css
  src/App.tsx
  src/components/Icons/Resolver/index.tsx
  src/components/Text/Animation/index.tsx
  src/global/styles/animation/main.css
  uno.config.ts
Due: eslint, stylelint, prettier --write

chore(components): router and utils components has been added
  package.json
  src/App.tsx
  src/components/Box/Card/index.tsx
  src/components/Box/Dialog/index.tsx
  src/components/Box/Form/index.tsx
  src/components/ErrorBoundary/index.tsx
  src/components/ui/card.tsx
  src/components/ui/form.tsx
  src/global/styles/home/main.css
  src/locales/en/index.yaml
  src/locales/es/index.yaml
  src/main.tsx
  src/routes/index.tsx
  src/stores/index.tsx
  src/types/components/dialog.ts
  src/types/components/form.ts
  src/types/models/user.ts
  src/utils/array.ts
  src/utils/helpers.ts
  src/views/error-page/index.tsx
  src/views/home/index.tsx
  src/views/index.tsx
  src/views/login/index.tsx
  src/views/not-found/index.tsx
  vite.config.ts
Due: eslint, stylelint, prettier --write

feat(login): login page has been added mock of login page added with a toaster to show data
  package.json
  src/App.tsx
  src/components/ui/toast.tsx
  src/components/ui/toaster.tsx
  src/components/ui/use-toast.ts
  src/locales/en/index.yaml
  src/locales/es/index.yaml
  src/types/components/form.ts
  src/views/login/index.tsx
Due: eslint, prettier --write

feat(login): login logic has been added transition to home page added before user filled data
  src/stores/index.tsx
  src/views/login/index.tsx
Due: eslint, prettier --write

fix(login): mobile versio remove black side
  src/views/login/index.tsx
Due: eslint, prettier --write

feat(header): header has been added mock for header added
  package.json
  src/components/Header/index.tsx
  src/components/ui/avatar.tsx
  src/locales/en/index.yaml
  src/locales/es/index.yaml
  src/utils/texts.ts
  src/views/home/index.tsx
  src/views/login/index.tsx
Due: eslint, prettier --write

feat(login): auto focus to login field has been added
  src/views/login/index.tsx
Due: eslint, prettier --write

style(loader): changed loader icon
  src/components/Text/Animation/index.tsx
Due: eslint, prettier --write

feat(menu): menu has been added mock for menu added in homepage
  src/components/Header/index.tsx
  src/global/styles/components/menu.css
  src/views/home/index.tsx
  uno.config.ts
Due: eslint, stylelint, prettier --write

feat(welcome): text centered
  src/components/Text/Animation/index.tsx
Due: eslint, prettier --write

chore(message): added translation loader text\
  src/App.tsx
  src/locales/en/index.yaml
  src/locales/es/index.yaml
Due: eslint, prettier --write

feat(menu): mock from menu has been added
  src/components/Header/index.tsx
  src/components/ui/sheet.tsx
  src/global/styles/components/menu.css
  src/locales/en/index.yaml
  src/locales/es/index.yaml
  src/views/home/index.tsx
Due: eslint, stylelint, prettier --write
